
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.flex-btn-container {
  width: 100%;
  padding: 4px;
  margin: 0;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}

.btn-diff {
  flex: 3;
  text-align: left;
}

.approved {
  font-size: 10px;
  color: #00A000;
}

.pending {
  font-size: 10px;
  color: darkorange;
}

.green {
  color: #00A000;
}

.red {
  color: #ff0000;
}

.orange {
  color: orangered;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.black {
  color: black;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}


